/qt
/doc/generated
/envision.pro.user
/envision.pro.user.*
/CMakeLists.txt.user
/Makefile
/compile_commands.json

/*/object_script.*.Debug
/*/object_script.*.Release

/*/debug
/*/release
/*/*.so
/*/*.dll
/*/Makefile
/*/Makefile.Release
/*/Makefile.Debug

*.directory
