/qt
/doc/generated
/envision.pro.user
/envision.pro.user.*
/CMakeLists.txt.user
/Makefile
/compile_commands.json

/*/object_script.*.Debug
/*/object_script.*.Release

/*/debug
/*/release
/*/*.so
/*/*.dll
/*/Makefile
/*/Makefile.Release
/*/Makefile.Debug

# The lib directory is ignored because it is necessary to be a soft link to clang libraries so that C++ import works correctly
/lib

*.directory
