<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaImportTool/src/javaImportTool/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="javaImportTool.Main"/>

<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="jedit ${project_loc}/test/jedit/ ${project_loc}/../DebugBuild/projects/"/>
<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="cheat /home/dasenov/Research/experiment1 ${project_loc}/../DebugBuild/projects/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="large ${project_loc}/test/large_project/ ${project_loc}/../DebugBuild/projects/"/>
 -->
<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="sun ${project_loc}/test/java-sun/ ${project_loc}/../DebugBuild/projects/"/>
 --> 
<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="java ${project_loc}/test/java-light/ ${project_loc}/../DebugBuild/projects/"/>
 -->
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaImportTool"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G"/>
</launchConfiguration>
