<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaImportTool/src/main/java/envision/java/importtool/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/JavaImportTool}/output.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="envision.java.importtool.Main"/>

<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="jedit /home/dasenov/Research/experiment1/jedit/source/ ${project_loc}/../DebugBuild/projects/"/>

<!--
===== The following are some useful ways to generate projects =====
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="testMerge /tmp/EnvisionVC/base /tmp/EnvisionVC/base"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="legend /home/mitko/jedit/workspace/EnvisionLegend/src ${project_loc}/../DebugBuild/projects/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="test ${project_loc}/test/brokencomments/ ${project_loc}/../DebugBuild/projects/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="jedit /home/dasenov/Research/experiment1/jedit/source/ ${project_loc}/../DebugBuild/projects/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="tetris ${project_loc}/test/JavaTetris/ ${project_loc}/../DebugBuild/projects/ -libs:java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="large ${project_loc}/test/large_project/ ${project_loc}/../DebugBuild/projects/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="sun ${project_loc}/test/java-sun/ ${project_loc}/../DebugBuild/projects/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="java ${project_loc}/test/java-light/ ${project_loc}/../DebugBuild/projects/"/>
 -->

<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaImportTool"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G -enableassertions"/>
</launchConfiguration>
