/Envision
/Envision.exe
/styles
/plugins
/core
/qt
/tools
/callgrind.out.*
/test
/projects
/screenshot-*
/*.pdf
/*.perf
/*.prof
/exported
/doxygen/**
/alloy/**
/AlloyIntegrationCLI.jar
/item_dump/**
/scripts/*
/cpp-export-settings
/key-bindings